{% assign figCounter = figCounter | plus:1 %}
{% assign images = include.image | split: ", " %}
{% assign widths = include.width | split: ", " %}
{% assign length = widths | size %}
<figure>
  {% for image in images %}
  {% if length == 1 %}
  	{% assign currentWidth = include.width %}
  {% else %}
  	{% assign currentWidth = widths[forloop.index0] %}
  {% endif %}
  {% if currentWidth != blank %}
  	<img src="{{ image | relative_url }}" width="{{ currentWidth }}" />
  {% else %}
  	<img src="{{ image | relative_url }}" width="600px" />
  {% endif %}
  {% endfor %}
  <figcaption>FIG {{ figCounter }}. {{ include.caption | markdownify | remove: '<p>' | remove: '</p>' }}</figcaption>
</figure>
