<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href={{ "assets/css/styles.css" | relative_url }}>
  <link rel="stylesheet" href={{ "assets/fonts/Lato/stylesheet.css" | relative_url }}>
  <link rel="stylesheet" href={{ "assets/fonts/Hero New/stylesheet.css" | relative_url }}>
  <link rel="stylesheet" href={{ "assets/fonts/Fira Math/stylesheet.css" | relative_url }}>
  <meta name="description" content={{ site.description }}>

  <meta property="og:title" content={{ page.title }}>
  <meta property="og:url" content={{ page.url }}>
  <meta property="og:image" content={{ page.image }}>

  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">

  <!-- KaTeX -->
  {% if page.katex %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
  {% endif %}
</head>
