{{ work.first | upcase }}&nbsp;&nbsp;&nbsp;
{%- if include.show_tags -%}
{%- for tag in work.last["tags"] -%}
<span class="btn btn--success">{{ tag | replace: "cond-mat.","" }}</span>
{%- endfor -%}
{%- endif -%}
<br>
<span class='pub__authors'>{{ work.last["authors"] | join:", " | replace: "Abhirup Mukherjee", "<b>Abhirup Mukherjee</b>" }}</span>
<br>
{{ work.last["submit_date"] | strip | date: "%b %-d, %Y" }}&nbsp;&nbsp;&nbsp;
{%- if work.last["doi"] -%}
<a href="{{ work.last["doi"] }}" class="btn btn--danger">{{ work.last["journal_ref_short"] }}</a>&nbsp;&nbsp;&nbsp;
{%- endif -%}
<a href="{{ work.last["arxiv_doi"] }}" class="btn btn--primary">{{ work.last["arxiv_ref"] | replace: "cond-mat/","" }}</a>
