$bg-color-lighter: #3b3b3b;
$bg-color: #2a2a2f;
$fg-color: #eee;
$h1-color: #f5cb5c;
$h2-color: #ef8354;
$hn-color: #f28482;
$link-color: #E5AA70;
$code-color: #9ef01a;
$bar-color: #22333b;
$google: #1976D2;
$github: #2b3137;
$email: #F44F5A;

$margin: 2em;
$width: 900px;
$bar-height: 50px;
$bar-ele-gap: 2rem;
$fig-pad: 1rem;

$font: "Lato";
$hn-font: "Hero New";
$math-font: "Fira Math";
$code-font: "Hack";
$emoji-font: "Noto Color Emoji";
$nerd-font: "FiraCode Nerd Font Propo";
$weight: 400;
$size: 14pt;

$breakpoint1: $width;
$breakpoint2: 500px;
