$bg-color: #353535;
$bg-color-lighter: #3b3b3b;
$fg-color: #eee;
$h1-color: #f5cb5c;
$hn-color: #ef8354;
$emph-color: #fca311;
$button-color: #c0c0c0;
$code-color: #509fff;

$margin: 2em;
$width: 1000px;
$footer-height: 50px;

$font: "Lato";
$hn-font: "Hero New";
$math-font: "Fira Math";
$emoji-font: "Noto Color Emoji";
$weight: 400;
$size: 14pt;
