$bg-color: #353535;
$fg-color: #eee;
$h1-color: #f5cb5c;
$hn-color: #ef8354;
$emph-color: #fca311;
$button-color: #c0c0c0;

$margin: 3em;
$width: 1000px;

$font: "Lato";
$hn-font: "Hero New";
$weight: 400;
$size: 16pt;
