/* start custom scss snippet */

.article__header--overlay {
  .overlay {
    min-height: 25rem; // reduced height of header image
    padding-top: map-get($spacers, 5) * 2;
    padding-bottom: map-get($spacers, 5) * 2;
    @include media-breakpoint-down(md) {
      min-height: 5rem; // reduced height of header image
      padding-top: map-get($spacers, 5);
      padding-bottom: map-get($spacers, 5);
    }
  }
}

// added margin to icons in footer
.button--circle {
	margin-left: 1em;
	margin-right: 1em;
}

// new class for custom icon in footer
.button--new {
	margin-left: 1em;
	margin-right: 1em;
}


.header {
  .main {
    max-width: map-get($layout, content-max-width);
;
  }
}

.article__content {
  table {
    th, td {
    border: none;
    min-width:130px;
    }
  }
h2 {
  border-bottom-width: 0px;
}
}

.navigation__item {
    margin-left: 2em;
    @include media-breakpoint-down(lg) {
      margin-left: 0em;
    }
    a {
	    font-weight: bold;
    }
}

.header__brand {
    a {
	    font-weight: bold;
    }
}

.footer {
  border: none;
  padding: 1rem;
}

.article__header--overlay {
    @include media-breakpoint-down(lg) {
      display: none;
    }
}

.mobile-header {
    height: 300px;
    width: 100%;
    align: center;
    background-color: $main-color-3;
    @include media-breakpoint-up(lg) {
      display: none;
    }
}


/* end custom scss snippet */
