/* start custom scss snippet */

.article__header--overlay {
  .overlay {
    min-height: 25rem; // reduced height of header image
    padding-top: map-get($spacers, 5) * 2;
    padding-bottom: map-get($spacers, 5) * 2;
    @include media-breakpoint-down(md) {
      min-height: 5rem; // reduced height of header image
      padding-top: map-get($spacers, 5);
      padding-bottom: map-get($spacers, 5);
    }
  }
}

// added margin to icons in footer
// new class for custom icon in footer
.button--circle, 
.button--new {
    margin-left: 1em;
    margin-right: 1em;
    @include media-breakpoint-down(md) {
	margin-left: 0.3em;
	margin-right: 0.3em;
    }
}


.header {
  .main {
    max-width: map-get($layout, content-max-width);
;
  }
}

.article__content {
  table {
    th, td {
    border: none;
    min-width:130px;
    }
  }
h2 {
  border-bottom-width: 0px;
}
}

.navigation__item {
    margin-left: 2em;
    @include media-breakpoint-down(lg) {
      margin-left: 0em;
    }
    a {
	    font-weight: bold;
    }
}

.header__brand {
    a {
	    font-weight: bold;
    }
}

.footer {
  border: none;
  padding: 1rem;
}

.article__header--overlay {
    @include media-breakpoint-down(lg) {
      display: none;
    }
}

.mobile-header {
    height: 250px;
    width: 100%;
    align: center;
    background-color: $main-color-3;
    @include media-breakpoint-up(lg) {
      display: none;
    }
}

.header__title {
    @include media-breakpoint-down(md) {
      display: none;
    }
}

.navigation__inverse {
    font-weight: bold;
    @include media-breakpoint-up(md) {
      display: none;
    }
}

.img__post {
	border: 0.15em solid black;
	display: block;
	margin: 0 auto;
	width: 800px;
	@include media-breakpoint-down(lg) {
		width: 100%;
    	}
}

.img__post__left, 
.img__post__right {
	display: block-inline;
	width: 400px;
	@include media-breakpoint-down(md) {
		display: block;
		width: 100%;
    	}
}
.img__post__left {
	float: left;
	margin-right:1em;
}
.img__post__right {
	float: right;
	margin-left:1em;
}

img {
	min-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
	color: #333;
}

/* end custom scss snippet */
