@use 'constants';

html {
  background-color: constants.$bg-color;
  color: constants.$fg-color;
  font-family: constants.$font, constants.$emoji-font !important;
  font-size: constants.$size;
  font-weight: constants.$weight;
  text-align: justify;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
html::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

body {
  max-width: constants.$width;
  width: 100%;
  margin: auto;
  margin-top: constants.$margin;
  display: flex;
  flex-direction: column;
  gap: 0;
  min-height: calc(100vh - constants.$footer-height + constants.$footer-gap);
}

main {
  flex-grow: 1;
}

h1 {
  color: constants.$h1-color;
  font-weight: 600;
  font-family: constants.$hn-font;
  line-height: 1.2em;
  text-align: left;
}

h2 {
  line-height: 1.2em;
  color: constants.$hn-color;
  margin-bottom: 0.1em;
  font-weight: 600;
  font-family: constants.$hn-font;
  text-align: left;
}

a {
  color: constants.$emph-color;
  text-decoration: none;
  font-weight: bold;
}

li {
    > p {
      margin: 0;
    }
}

ul { 
  margin-top: 0;
}

ul > li {
  list-style: square;
}

ul > li::marker {
  list-style: square;
  font-size: 1.5em;
}

.button {
  background-color: constants.$button-color;
  color: constants.$bg-color;
  border-radius: 4px;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.navbar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: constants.$margin;
  padding-bottom: 0.5em;
  margin-bottom: constants.$margin;
  // border-bottom: 0.2em solid rgba(constants.$hn-color, 1);
  > a {
    font-weight: 700;
    font-size: 1.2em;
    color: constants.$hn-color;
  }
}

.publication-time {
  color: constants.$emph-color;
  font-weight: bold;
}
.publication-reference {
  color: constants.$h1-color;
  font-weight: bold;
}
.publication-authors {
  color: constants.$emph-color;
  font-weight: bold;
}

.publication-title {
  font-style: italic;
}

.author {
  text-decoration: underline;
  text-underline-offset: 4pt;
}

.katex .katex-html { 
  font-family: constants.$math-font;
  font-size: 0.8em;
}
.katex-mathml {
  display: none;
}

.katex-display {
  font-size: 1.15em;
  background-color: constants.$bg-color-lighter;
  padding: 0.5em;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
}

figure {
  max-width: constants.$width;
  margin: auto;
  display: block;
  text-align: center;
}
figcaption {
  color: constants.$button-color;
  font-weight: bold;
}

img {
  max-width: constants.$width;
  text-align: center;
}

.excerpt {
  // font-size: 0.9em;
  // color: constants.$button-color;
  font-style: italic;
}

code {
  color: constants.$code-color;
  font-size: 0.9em;
  // font-family: "Iosevka";
}

.highlight {
  text-align: left;
  margin: 0;
  margin-top: -0.5em;
  padding: 0.5em;
  overflow: scroll;
  max-height: 500px;
  scrollbar-width: none; /* Firefox */
  background-color: constants.$bg-color-lighter;
}
.highlight::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

header {
  margin-bottom: 1em;
  border-bottom: 3px solid constants.$fg-color;
}

footer {
  height: constants.$footer-height;
  margin-top: constants.$footer-gap;
  text-align: center;
  color: constants.$hn-color;
  border-top: 3px solid constants.$hn-color;
  > a {
    color: constants.$hn-color;
    text-decoration: underline;
    padding-left: 1em;
  }
  align-content: center;
}

@media only screen and (max-width: constants.$breakpoint1)  {
  body {
    width: 100vw;
    // max-width: 100%;
  }
  main {
    margin-left: constants.$margin;
    margin-right: constants.$margin;
  }
}

@media only screen and (max-width: constants.$breakpoint2)  {
  html {
    font-size: 1em;
  }
  img {
    max-width: 100%;
  }
}
