@use 'constants';

html {
  background-color: constants.$bg-color;
  color: constants.$fg-color;
  font-family: constants.$font, constants.$emoji-font !important;
  font-size: constants.$size;
  font-weight: constants.$weight;
  text-align: justify;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
html::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  min-height: calc(100vh);
}

main {
  margin: auto;
  max-width: constants.$width;
  margin-top: constants.$margin;
  flex-grow: 1;
}

h1 {
  color: constants.$h1-color;
  font-weight: 600;
  font-family: constants.$hn-font;
  line-height: 1.2em;
  text-align: left;
}

h2 {
  line-height: 1.2em;
  color: constants.$h2-color;
  margin-bottom: 0.1em;
  font-weight: 600;
  font-family: constants.$hn-font;
  text-align: left;
}

h3 {
  line-height: 1.2em;
  color: constants.$hn-color;
  margin-bottom: 0.1em;
  font-weight: 600;
  font-family: constants.$hn-font;
  text-align: left;
}

a {
  color: constants.$link-color;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

li {
    > p {
      margin: 0;
    }
}

ul { 
  margin-top: 0;
}

ul > li {
  list-style: square;
}

ul > li::marker {
  list-style: square;
  font-size: 1.5em;
}

.button {
  background-color: constants.$h1-color;
  color: constants.$bg-color;
  font-size: 0.9rem;
  border-radius: 4px;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  display: inline-block;
}

.button:hover {
  text-decoration: none;
  transform: translate(2px, 0px);
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: constants.$bar-ele-gap;
  height: constants.$bar-height;
  > * {
    color: constants.$fg-color;
    font-weight: 700;
    font-size: 0.9em;
  }
  > a:hover {
    text-decoration: none;
  }
}

.publication-time {
  color: constants.$link-color;
  font-weight: bold;
}
.publication-reference {
  color: constants.$h1-color;
  font-weight: bold;
}
.publication-authors {
  color: constants.$link-color;
  font-weight: bold;
}

.publication-title {
  font-style: italic;
}

.author {
  text-decoration: underline;
  text-underline-offset: 4pt;
}

.katex .katex-html { 
  font-family: constants.$math-font;
  font-size: 0.8em;
}
.katex-mathml {
  display: none;
}

.katex-display {
  font-size: 1.15em;
  background-color: constants.$bg-color-lighter;
  padding: 0.5em;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
}

figure {
  margin: auto;
  padding: constants.$fig-pad;
  padding-top: calc(0.5 * constants.$fig-pad);
  padding-bottom: calc(0.5 * constants.$fig-pad);
  display: block;
  text-align: center;
  background-color: rgba(constants.$bg-color-lighter, 0.3);
  > * > img {
    max-width: calc(constants.$width - 2 * constants.$fig-pad);
  }
}
figcaption {
  font-family: constants.$code-font;
  font-size: 0.9em;
}

img {
  max-width: constants.$width;
  text-align: center;
}

.excerpt {
  font-style: italic;
}

code {
  color: constants.$code-color;
  font-size: 0.8em;
  font-family: constants.$code-font;
}

.highlight {
  text-align: left;
  margin: 0;
  margin-top: -0.5em;
  padding: 0.5em;
  overflow: scroll;
  max-height: 500px;
  scrollbar-width: none; /* Firefox */
  background-color: constants.$bg-color-lighter;
}
.highlight::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

header {
  background-color: constants.$bar-color;
  width: 100%;
}

footer {
  background-color: constants.$bar-color;
  color: constants.$fg-color;
  height: constants.$bar-height;
  > a {
    color: constants.$fg-color;
  }
  > a:hover {
    text-decoration: none;
  }
  display: flex;
  gap: constants.$bar-ele-gap;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: constants.$breakpoint1)  {
  body {
    width: 100vw;
    // max-width: 100%;
  }
  main {
    margin-left: constants.$margin;
    margin-right: constants.$margin;
  }
}

@media only screen and (max-width: constants.$breakpoint2)  {
  html {
    font-size: 1em;
  }
  img {
    max-width: 100%;
  }
}

.nf-dev-google {
  color: constants.$google;
}
.nf-dev-github {
  // color: white;
}
.nf-md-email_check {
  color: constants.$email;
}

