---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// remove the footer
.page__footer {
	// display: none;
}


// remove permanent underline on links, 
// now underline only shows on hover
a,a:hover {
	font-weight: bold;
	text-decoration: none;
}


// center align all images
.page img {
	display: block;
	text-align: center;
}


// remove the translucent feature
// of the author profile
.sidebar {
	opacity: 1;
}


.inline_svg {
	text-align: center;
	zoom: 40%;
	@include breakpoint($small) {
		text-align: center;
		zoom: 60%;
	}
}

.page__hero--overlay {
	min-height: 6em;
}

.page__hero--overlay .page__title {
	margin-top: 1em;
	margin-bottom: 1em;
}

.pub__authors {
	font-size: 50%;
	opacity: 0.8;
}

.caption {
	text-align: center;
	font-style: italic;
}
