---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// remove the footer
.page__footer {
	display: none;
}


// remove permanent underline on links, 
// now underline only shows on hover
a {
	font-weight: bold;
	text-decoration: none;
}

// added css class for the social media icons
// at the top of contacts section of about page.
.contact_icons {
	// center align
	text-align:center;
a + a {
	// add space between them
	padding-left: 3%;
}
i:hover {
	// make them larger when hovered on
  transform: scale(2);
}
}


// center align all images
img {
	display: block;
	margin: auto;
	max-width: 700px;
}


// add class for tag alert boxes
// and add space between the boxes
.tag__highlight {
	margin-left: 3%;

}


// reduce padding inside the tag
// alert boxes
.btn {
	padding: 0.3em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}


// remove the translucent feature
// of the author profile
.sidebar {
	opacity: 1;
}


// new classes for profile picture
// on the home page

// this class is used for the picture
// on the overlay image. It only displays
// when the screen is large, and 
// disappears otherwise
.home__body__image {
	max-height: 200px;
	@include breakpoint($small) {
		display: none;
	}
}

// this class is used for the picture
// in the body. It only displays
// when the screen is small, and 
// disappears otherwise
.home__header__image {
	display: none;
	@include breakpoint($small) {
		display: block;
	}
}


.inline_svg {
	text-align: center;
	zoom: 40%;
	@include breakpoint($small) {
		text-align: center;
		zoom: 60%;
	}
}

.page__hero--overlay {
	height: 25em;
}

.page__hero--overlay .wrapper .page__lead,.page__hero--overlay .wrapper .page__title{
	font-weight: bold;
}


.page__hero--overlay .wrapper {
	@include breakpoint($small) {
		margin-top: 2em;
	}
}

.pub__authors {
	font-size: 50%;
	opacity: 0.8;
}


// styles each column of the two-column layout on the home page.
// makes the width of each column ~50% on large screens and 
// 100% on small screens. sets the float accordingly.
.home__column {
	margin: auto;
	@include breakpoint($medium) {
		width:48%;
		float:left;
	}
}

// sets the spacing between the two columns on the home page.
.home__column + .home__column {
	@include breakpoint($medium) {
		width:48%;
		margin-left: 4%;
	}
}
