---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// remove the footer
.page__footer {
	display: none;
}


// remove permanent underline on links, 
// now underline only shows on hover
a {
	font-weight: bold;
	text-decoration: none;
}

// added css class for the social media icons
// at the top of contacts section of about page.
.contact_icons {
	// center align
	text-align:center;
a + a {
	// add space between them
	padding-left: 3%;
}
i:hover {
	// make them larger when hovered on
  transform: scale(2);
}
}


// center align all images
img {
	display: block;
	margin: auto;
}


// add class for tag alert boxes
// and add space between the boxes
.tag__highlight {
	margin-left: 3%;

}


// reduce padding inside the tag
// alert boxes
.btn {
	padding: 0.3em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}


// remove the translucent feature
// of the author profile
.sidebar {
	opacity: 1;
}


// new classes for profile picture
// on the home page

// this class is used for the picture
// on the overlay image. It only displays
// when the screen is large, and 
// disappears otherwise
.home__text__image {
	max-height: 200px;
	@include breakpoint($small) {
		display: none;
	}
}

// this class is used for the picture
// in the body. It only displays
// when the screen is small, and 
// disappears otherwise
.home__excerpt__image {
	display: none;
	@include breakpoint($small) {
		display: block;
	}
}

// removes TOC on medium-sized
// and smaller screens
.toc {
	display: none;
	@include breakpoint($large) {
		display: block;
	}
}
